@{
	ViewData["Title"] = "Página Inicial";
}


<body class="text-dark">
	<div class="text-center">
	<h1 class="display-4">Documentação do projeto Elevador</h1>
	<p><a href="https://github.com/Willian-Guerreiro/ProjetoElevador_Documentacao">Repositório oficial do projeto</a>.</p>

	<div class = "card">
		<img src="assets/elevador_view.jpg" style="width:100%">
	</div>

	<hr/>

	<h2 align="left">Descrição do funcionamento</h2>
	<p align="left">O dispositivo elevador possui a função de navegar entre os andares de um prédio
					executando um movimento vertical de subida ou descida. Neste projeto, o elevador
					é parametrizado inicialmente com:</p>
	<ul>
		<li align="left">Capacidade máxima de pessoas no elevador</li>
		<li align="left">Quantidade máxima de andares do prédio</li>
	</ul>

	<p align="left">Um usuário, por sua vez, pode executar as seguintes ações:</p>

	<ul>
		<li align="left">Entrar no elevador</li>
		<li align="left">Sair do elevador</li>
		<li align="left">Subir 1 andar</li>
		<li align="left">Descer 1 andar</li>
	</ul>

</div>
</body>
