@{
	ViewData["Title"] = "Página Inicial";
}


<body class="text-dark">
	<div class="text-center">
	<h1 class="display-4">Documentação do projeto Elevador</h1>
	<p><a href="https://github.com/Willian-Guerreiro/ProjetoElevador_Documentacao">Repositório oficial do projeto</a>.</p>

	<div class = "card">
		<img src="assets/elevador_view.jpg" style="width:100%">
	</div>

	<hr />

    <h2>Descrição do funcionamento</h2>
	<p>O dispositivo elevador possui a função de navegar entre os andares de um prédio executando um movimento vertical de subida ou descida.</p>

</div>
</body>
